<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin.css" rel="stylesheet" />
    <link href="~/Content/LiuAdmin.css" rel="stylesheet" />
       
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ckeditorAndckefinder")
    <script src="~/Scripts/jjmcAdmin.js"></script>
    <link href="~/Areas/Admin/js/jquery.ui.liuautocomplete.css" rel="stylesheet" />

 
</head>

<body>
 
<div class="page">
      <div class="breadcrumbsWrap">
          <div class="breadcrumbs">
                <div class="Controller">@Html.ViewContext.RouteData.Values["controller"]</div>
                 <div class="Action" >@Html.ViewContext.RouteData.Values["action"]</div>
          </div>         
           @RenderSection("Search",false)
         
      </div>
      @RenderBody()     

</div>

<footer>
</footer>
    @RenderSection("Scripts",false)
</body>
</html>
