@model List<WineWeb.Models.Product>


@{
    ViewBag.Title = ViewBag.CategoryName;
}
  
 
	<div class="main_wrap">
		<div class="sitenav"><a href="index.html">首页</a>&gt<a href="#" target="_blank">推介产品</a>&gt<span>@ViewBag.CategoryName</span></div>
		<h1><strong>推介产品</strong><br /><span>Recommendation</span></h1>
		<div class="goodslist">
			<div class="goods_wrap">
				<h4><span class="oth">@ViewBag.CategoryName</span></h4>
                @foreach (var item in Model)
                {
                    	<div class="goodsbox">
					        <a href="@item.Link" target="_blank"><img src="@Url.Content(item.thum)" title="红葡萄酒" /></a>
					        <h5><span>@item.title1</span><br/><span>@item.title2</span></h5>
					        <p>@item.ViewTitle3</p>
					        <a href="goodsdetails.html" target="_blank" class="more">&gt;&nbsp;了解详情</a>
				        </div>
                }

			 
			</div>
		</div>
	 <!--pager start-->
	     @Html.Partial("_Pagination", (WineWeb.Models.Pagination)ViewBag.Pagination)	 
    	<!--pager end-->
	</div>