@model IEnumerable<WineWeb.Models.Encyclopedia>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
 
@section Search{
    @Html.Partial("_Search")
}

@section Scripts {
  
  @*  <script type="text/javascript">
        $(function () {
            var SourceWords = ["糖尿病", "心脑血管疾病", "骨骼健康及神经外科疾病", "妇女健康", "组织修复", "微创手术", "传染病常识", "器械消毒"];
            $(".Keyword").autocomplete({
                source: SourceWords, minLength: 0
            });
            //.autocomplete("search","");
            $(".Keyword").click(function () {
                $(".Keyword").autocomplete("search", "");
            })
        })
    </script>*@

}

@using (Html.BeginForm("BatchDelete", "EncyclopediaManage", FormMethod.Post, new { onsubmit = "return confirm('您确定要全部删除？');" }))
{
    <p>
        @Html.ActionLink("Create New", "Create")
        <input type="submit" value="全部删除" />
        @Html.ValidationSummary(true)
    </p>
<table>
    <tr>
        <th>
        </th>
        <th>
          缩略图
        </th>
        <th>
            日期
        </th>
        <th>
           标题
        </th>
         @*  <th>
            @Html.DisplayNameFor(model => model.title2)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.content)
        </th>*@
       @* <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <input type="checkbox" name="delete_@item.Id"/>
       </td>
        <td>
            @Html.DisplayFor(modelItem => item.thum)
        </td>
        <td>
               @item.date |
             @item.date.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title1)
        </td>
          @* <td>
            @Html.DisplayFor(modelItem => item.title2)
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>*@
       @* <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
        @*    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            <a href="/Admin/EncyclopediaManage/Delete/@item.Id" rel="external">删除</a>
        </td>
    </tr>
}

</table>
}
 @Html.Partial("_AdminPagination", (WineWeb.Models.Pagination)ViewBag.Pagination)