
@model WineWeb.Models.LoginModel
@{
    ViewBag.Title = "登录";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<style>
	html { background: url(/Images/bg_login_01.jpg) no-repeat 50% 0; }
	body { margin: 0; }
	form { background: url(/Images/bg_login_02.jpg) repeat-x; margin: 378px 0 0; padding: 18px 0 190px; }
	fieldset { border: none; padding: 0; width: 328px; margin: 0 auto; }
	legend { display: none; }
	input[type="text"],
	input[type="password"] { font-family: Arial,"Microsoft Yahei"; border: 1px solid #ddd; height: 25px; line-height: 25px; width: 250px; padding: 0 5px;  }
	label { font-family: Arial,"Microsoft Yahei"; height: 27px; line-height: 27px; font-size: 16px; color: #fff; float: left; display: block; width: 65px; }
	p { margin: 18px 0 0; }
	.login-btn { background: url(/style/img/bg_login_03.png) no-repeat 100% 0; float: none; padding: 0 0 18px 65px; width: 190px; }
	.login-btn input[type="submit"] { float: left; font: bold 16px Arial,"Microsoft Yahei"; color: #fff; border: none; background-color: #61B4DC; padding: 0; margin: 0; text-align: center; width: 182px; height: 32px; line-height: 32px; cursor: pointer; }
	</style>
</head>
<body>
	@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    
   
		<fieldset>
			<legend>强生网站内容管理系统</legend>
			<p>
				<label for="username">用户名</label>
                
                @Html.TextBoxFor(m => m.UserName, new { placeholder="请输入用户名"})
                @Html.ValidationMessageFor(m => m.UserName)
				@*<input id="username" type="text" name="" id="" placeholder="请输入用户名">*@
			</p>

			<p>
				<label for="password">密　码</label>
                @Html.PasswordFor(m => m.Password, new { placeholder="请输入密码"})
                @Html.ValidationMessageFor(m => m.Password)
			@*	<input id="password" type="password" name="" id="" placeholder="请输入密码">*@
			</p>
            <div style="color:white">  @Html.ValidationSummary(true)</div>
            <p>
               
                   @Html.CheckBoxFor(m => m.RememberMe)
                   @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
              
            </p>
			<p>
				<label class="login-btn" for="#"><input type="submit" value="登　录"></label>
			</p>
		</fieldset>
 }
</body>
</html>