@{
    ViewBag.Title = "夏梦庄园后台管理";
}


<!DOCTYPE html>

<html>
<head runat="server">
    <title>后台管理</title>
    
    <script>
        var token = 'token';
    </script>

    @Styles.Render("~/Content/Admin")

    @Styles.Render("~/Content/themes/base/css") 
    @Styles.Render("~/Content/ckeditorAndckefinder")    
    @Scripts.Render("~/bundles/jquery")
  
    <link href="~/Content/Admin.css" rel="stylesheet" />

    <style type="text/css">
        #IndexHeader {
            padding-bottom: 0px;
            margin: 0px auto;
            padding-left: 20px;
            height: 65px;
            background: url('/Content/AdminImg/topbg.jpg') no-repeat left bottom;
            text-align: right;
        }


    </style>
</head>

<body>
      
          
 
    <div id="IndexHeader">
        <div id="title">
            <h1></h1>
        </div>
        <div id="logindisplay">
           @Html.Partial("_LoginPartial") 
        </div>
    </div>

    <div class="mainPage" style="float:left; width:100%">
        <table style="width:100%;">
            <tr>
                <td style="width:15%;vertical-align:top">
                   @Html.Partial("_LeftNav")
                </td>
                <td style="width:85%;vertical-align:top">
                      <iframe width="100%" height="800px;" frameborder="0"  name="mainfra" id="mainfra"  scrolling="yes" />
                   @* width="100%" height="550" class="share_self"  frameborder="0" scrolling="no"*@
               </td>
            </tr>
        </table>        
    </div>

  
   
 
</body>
</html>

